{% extends "base.html" %} 
{% load static %} {% load crispy_forms_tags %} 

{% block title %}Password Change{% endblock title %} 

{% block content %}

<div class="signin mx-auto py-4 px-2 shadow">
  <div class="text-center">
    <img src="{% static 'imgs/gmsa-logo.png' %}" alt="gmsa-logo" height="72">
    <h2 class="h3 mt-2 mb-3 fw-normal"">Change Your Password</h2>
  </div>
  <form action="" method="post" class="mx-3">
    {% csrf_token %} 
    
    {{form|crispy}}
    <button type="submit" class="btn btn-success w-100">Change Password</button>
  </form>

</div>

{% endblock content %}
