{% extends "base.html" %} {% load static %}

{% block title %}Ballots{% endblock title %}

{% block content %}

{% for position in positions %}

<h3>Vote for {{ position.name }}</h3>

{% for candidate in position.candidates.all %}

<div class="card" style="width: 18rem;">
    <img src="{{ candidate.profile_pic.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{candidate.user.get_full_name}}</h5>
      <a href="#" class="btn btn-primary">Vote</a>
    </div>
</div>


<form action="{% url 'vote-candidate' election_slug=election.slug candidate_id=candidate.id  position_id=position.id %}" method="GET">
    
    {% if page_obj.has_next %}
    <input type="hidden" name="ballot" value="{{ page_obj.next_page_number }}">
        
    {% endif %}
        
    <h5>{{ candidate.user.get_full_name }}</h5>
    <button>Vote</button>
    <hr />

</form>

{%empty%}
<p>No contestant for this position</p>
<!-- <a href="">Next</a> -->
{% endfor %}
{% endfor %}


{% if is_paginated %}
    {% if page_obj.has_previous%}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?ballot={{ num }}">{{num}}</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?ballot={{ page_obj.next_page_number }}">Next</a>
    {% endif %}

{% endif %}


{% endblock content %}