{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

{% for election_status in elections_status %}
<div class="container">
    <div class="card mx-auto" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{election_status.election.name}}</h5>
        <p class="card-text">{{election_status.election.description}}</p>
        {% if election_status.status == True %}
        <a href="{% url 'ballots' election_status.election.slug %}" class="btn btn-primary">View Votes</a>
        {% else %}
        <a href="{% url 'ballots' election_status.election.slug %}" class="btn btn-primary">Start vote</a>
        {% endif %}
        </div>
    </div>
</div>

{% empty %}
<p>There is no election yet. Check again later</p>
{% endfor %}

{% endblock content %}