{% extends "base.html" %} 
{% load static %} {% load crispy_forms_tags %} 

{% block title %}Add Voter{% endblock title %} 

{% block header %}
    {% include 'header.html' %}
{% endblock header %}

{% block content %}
<a href="{% url 'home' %}" class="btn btn-outline-secondary ">Home Page</a>

<div class="signin mx-auto pb-4 px-2 shadow mt-3">
  <div class="text-center">
    <img src="{% static 'imgs/gmsa-logo.png' %}" alt="gmsa-logo" height="72">
    <h2 class="h3 mt-2 mb-3 fw-normal"">Add Voter</h2>
  </div>
  <form action="" method="post" class="mx-3">
    {% csrf_token %} 
    
    {{form|crispy}}
    <button type="submit" class="btn btn-success w-100">Add Voter</button>
  </form>

</div>

{% endblock content %}
